          <Br />
          <div class="mastfoot">
            <div class="inner">
              <p>
                Движок 
                <a href="http://tretyakovpavel.ru">Павел Третьяков</a> :), модули 
                <a href="http://symfony.com/">Symfony</a>,
                <a href="http://twig.sensiolabs.org/">Twig</a> и 
                <a href="http://www.doctrine-project.org/">Doctrine</a>        
              </p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ host }}/js/libs/bootstrap/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ host }}/js/libs/bootstrap/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>