{% include 'header.html.twig' %}
{% include 'menu.html.twig' %}
          
          <div class="inner cover">
            <h1 class="cover-heading">Добро пожаловать в TestTask</h1>
            Прошу прощения, заранее, за исходный код. В условиях задания не было сказано об
            использовании какого-либо фреймворка (ночью не смог уточнить). Поэтому взял на себя смелость написать квазипростой MVC фреймворк и использовал необходимые компоненты:
            <p class="lead">
            	
            	<ul style="text-align:left">
            		<li>symfony/http-foundation</li>
					<li>symfony/form</li>
					<li>symfony/validator</li>
					<li>doctrine/dbal</li>
					<li>twig/twig</li>
            	</ul>

            </p>
            Если необходимо использовать какой либо фреймворк, пожалуйста, сообщите об этом, и я с радостью напишу это задание на Laravel или Symfony или Yii (или любом другом, суть соверменных фреймворков крутиться вокруг одного солнца, а дьявол в деталях :) ). А так, этот сайт - проект вашего задания, и чтобы Вам было удобно его тестировать, я выложил его в сеть.
            <p class="lead">

              <a href="#" class="btn btn-lg btn-default" style="margin-top:10px">Проект на GitHub</a>
            </p>
          </div>
          
{% include 'footer.html.twig' %}